form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}


form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
    padding-bottom: 5px;
}

form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    width: 90%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #ffffff;
    color:#000000;
}

h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    form, ul {
        width: 90%;
    }
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  width: 90%;
}

.tag {
  background-color: #bdc7ea;
  border-radius: 16px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 0;
}