option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.api:app"

container_commands:
  01_initdb:
    command: "source /var/app/venv/*/bin/activate && pip install -r requirements.txt"
    leader_only: true