.reco-container {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 70px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reco-container ul li:hover {
  text-decoration: none;
  background: linear-gradient(to right, #9181f4 -40%, #ed6c7d 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: 700;
  cursor: pointer;
}

.reco-container ul {
  list-style-type: none;
  padding: 0;
}

.reco-container ul li {
  margin-bottom: 10px;
}

.reco-container ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.reco-container ul li a:hover {
  text-decoration: none;
}

.repo-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.repo-info {
  flex: 1;
}

.repo-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.repo-info p {
  color: #666;
  margin-bottom: 12px;
}

.repo-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.repo-details span {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.repo-details span:first-child {
  margin-left: 0;
}

.repo-avatar {
  margin-left: 20px;
}

.repo-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.repo-link {
  margin-top: 10px;
}

.repo-link a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.repo-link a:hover {
  text-decoration: underline;
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.topic {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 8px;
}