.reco-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.reco-container ul li:hover {
  text-decoration: none;
  background: linear-gradient(to right, #9181f4 -40%, #ed6c7d 140%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.reco-container ul {
  list-style-type: none;
  padding: 0;
}

.reco-container ul li {
  margin-bottom: 10px;
}

.reco-container ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.reco-container ul li a:hover {
  text-decoration: none;
}
