.footer {
  background-color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-content p {
  color: #858585;
  
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  color: #333;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #b1b8b8;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    margin-top: 15px;
  }
}