.navbar {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  border: none;
  box-shadow: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #dcb8e0;
  text-decoration: none;
}
